@import url('https://fonts.googleapis.com/css?family=Arimo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Lobster&display=swap');

body, html {
  height: 100vh;
}
body {
  align-items: center;
  background: #000;
  font-family: 'Arimo', sans-serif;
  justify-content: center;
  overflow: hidden;
  perspective: 1800px;
  text-align: center;
  margin: 0;
}
.bcg-parallax {
  position: absolute;
  top: -20%;
  left: -20%;
  width: 100%;
  z-index: -2;
  opacity: 0.3;
}
.bcg-parallax img {
  width: 400vh;
  filter: blur(1px);
  -webkit-filter: blur(1px);
}
.selection ul {
  z-index: 1;
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 45%;
  right: -10px;
  transform: rotate(90deg);
}
.selection li {
  float: left;
  border-bottom: 1px solid transparent;
}
.selection li a {
  text-shadow: 1px 1px 5px #000;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
}
.title {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
.round {
  position: absolute;
  width: 20rem;
  height: 20rem;
  border: 5px solid transparent;
  border-bottom-width: 0;
  border-right-width: 0;
  border-color: skyblue;
  border-image-slice: 1;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -50%);
}
.round2 {
  position: absolute;
  width: 20rem;
  height: 20rem;
  border: 5px solid transparent;
  border-top-width: 0;
  border-left-width: 0;
  border-color: skyblue;
  border-image-slice: 1;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -40%);
}
.title h1 {
  font-size: 3.6rem;
  text-shadow: 10px 10px 10px #000;
}
.title h3 {
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  text-shadow: 1px 1px 10px #000;
}
.section {
  opacity: 0;
}
.aboutTitle, .projectsTitle, .contactTitle {
  position: absolute;
  color: white;
  top: 3%;
  text-align: left;
  left: 7%;
  right: 15%;
  z-index: 0;
}
.aboutTitle h1, .projectsTitle h1, .contactTitle h1 {
  font-size: 3.6rem;
  text-shadow: 10px 10px 10px #000;
}
.aboutTitle p, .projectsTitle p, .contactTitle p {
  font-size: 1.5rem;
  text-shadow: 1px 1px 10px #000;
}
.aboutContent {
  position: absolute;
  color: white;
  top: 30%;
  text-align: left;
  left: 6%;
  right: 15%;
  z-index: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.aboutContentTitle h2 {
  font-size: 2.5rem;
  text-shadow: 5px 5px 10px #000;
  margin-bottom: 15px;
  margin-right: 50%;
  margin-left: 18px;
}
.round3 {
  width: 23rem;
  height: 0rem;
  border: 5px solid transparent;
  border-top-width: 0;
  border-left-width: 0;
  border-color: skyblue;
  border-image-slice: 1;
}
.aboutContentTitle p {
  font-size: 1.5rem;
  text-shadow: 1px 1px 10px #000;
  margin-left: 18px;
  margin-right: 5px;
}
.aboutContent .webdev {
  list-style-type: none;
}
.aboutContent .softwaredev {
  list-style-type: none;
  left: 50%;
}
.aboutContent li {
  padding-bottom: 1%;
}
.aboutContent h3 {
  font-size: 1.5rem;
  text-shadow: 1px 1px 10px #000;
  margin-top: 5px;
  margin-bottom: 2px;
}
.progress {
  background: rgba(255,255,255,0.2);
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 15px;
  width: 500px;
}

.progress-value {
  box-shadow: 0 10px 40px -10px #fff;
  background: skyblue;
  height: 10px;
}
.additionalSkills {
  position: absolute;
  color: white;
  top: 70%;
  text-align: left;
  left: 6%;
  right: 15%;
  z-index: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.additionalSkillsTitle h2 {
  font-size: 2.2rem;
  text-shadow: 5px 5px 10px #000;
  margin-bottom: 15px;
  margin-left: 18px;
}
.additionalSkills ul {
  list-style-image: url('../img/square.png');
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}
.additionalSkills li {
}
.additionalSkillsContent h3 {
  font-size: 1.5rem;
  text-shadow: 1px 1px 10px #000;
}
a:link {
  color: skyblue;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: skyblue;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
.projectsContent {
  position: absolute;
  color: white;
  top: 25%;
  text-align: left;
  left: 6%;
  right: 15%;
  z-index: 0;
}
.projectsContentTitle h2 {
  font-size: 2.5rem;
  text-shadow: 5px 5px 10px #000;
  margin-bottom: 15px;
  margin-right: 50%;
  margin-left: 18px;
}
.wrapper {
  margin-top: 20px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 25rem);
  grid-template-rows: repeat(3, 10rem);
  justify-content: center;
  align-content: end;
}
.wrapper h3 {
  font-size: 2.2rem;
  text-shadow: 5px 5px 10px #000;
  margin: 0;
}
.wrapper p {
  font-size: 1.5rem;
  text-shadow: 1px 1px 10px #000;
}
.project {
  background: rgba(255,255,255,0.05);
  border-radius: 10px;
  color: white;
  padding: 20px;
}
.i1 {
  grid-column: 1 / 5;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.i2 {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.i3 {
  grid-column: 3 / 5;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.i4 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.i5 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.i1 img {
  width: 8rem;
  height: 8rem;
  border-radius: 10px;
}
.i2 img {
  height: 18rem;
  border-radius: 10px;
  margin-right: 15px;
}
.i3 img {
  width: 8rem;
  height: 8rem;
  border-radius: 10px;
  margin-right: 10px;
}
.i3 p {
  margin-top: 5px;
}
.i4 h3, .i5 h3 {
  font-size: 2rem;
}
.i4 p, .i5 p {
  margin-top: 5px;
  font-size: 1.2rem;
}
.contactContent {
  position: absolute;
  color: white;
  top: 20%;
  text-align: left;
  left: 6%;
  right: 15%;
  z-index: 0;
  font-size: 2rem;
}

/* Smartphones */
@media only screen
and (min-width: 321px) {
  .bcg-parallax {
    top: -100%;
    left: -100%;
  }
}