.container-fluid {
  background: #f0eeda;
  width: 95%;
}
.sometext {
  visibility: inherit;
  transform: matrix(3, 0, 0, 3, 0, 0);
}
.video-container {
  height: 50vh;
  padding-top: 25%;
  visibility: inherit;
  transform: matrix(2, 0, 0, 2, 0, 0);
}
.video-container video {
  max-width: 150%;
}
