@import url('https://fonts.googleapis.com/css?family=Arimo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Lobster&display=swap');

body, html {
  height: 100vh;
}
body {
  align-items: center;
  background: #1B262C;
  font-family: 'Arimo', sans-serif;
  justify-content: center;
  perspective: 1800px;
  text-align: center;
  margin: 0;
}
.bcg-parallax {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -2;
  opacity: 0.3;
  overflow: hidden;
}
.bcg-parallax img {
  position: absolute;
  left: -20%;
  top: -20%;
  height: 150vh;
  filter: blur(1px);
  -webkit-filter: blur(1px);
}
a:link {
  color: white !important;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: white !important;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #BBE1FA !important;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  background-color: transparent;
  text-decoration: underline;
}
.navbar {
  padding: 2rem;
}
.navbar-nav li {
  padding-right: 20px;
}
.nav-link {
  font-size: 1.2rem;
}
.square {
  position: absolute;
  width: 350px;
  height: 350px;
  border: 2px solid #BBE1FA;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home, .home .content {
  height: 100vh;
}
.home .title {
  color: white;
}
.home .title h1 {
  font-size: 4rem;
  text-shadow: 10px 10px 10px #000;
}
.title p {
  font-size: 3rem;
  font-family: 'Dancing Script', cursive;
  text-shadow: 10px 10px 10px #000;
}
.work {
  height: 100vh;
}
.projects {
  border-top: 2px solid #BBE1FA;
}
.projects .title {
  padding-top: 2rem;
  padding-bottom: 3rem;
  color: white;
  background-color: #0F4C75;
}
.projects .title h1 {
  font-size: 4rem;
  text-shadow: 5px 5px 5px #000;
}
.project {
  padding: 1rem;
  margin-bottom: 4rem;
}
.project .content {
  color: #BBE1FA;
}
.projects-carousel-inner {
  height: 400px;
}
.projects-carousel-item {
  width: 100%;
  height: 100%;
}
.projects-carousel-caption {
  top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin: 0 auto;
  width: fit-content;
}
.carousel-control-prev, .carousel-control-next {
  color: #FFF;
}
.card {
  background-color: transparent;
  border: 0;
}
.card img {
  width: 15rem;
  height: 15rem;
  border-radius: 2rem;
}
.card-body {
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel-control-prev {
  left: 40rem;
}
.carousel-control-next {
  right: 40rem;
}
.description {
  top: -2rem;
  color: white;
}
.des {
  position: absolute;
  text-align: center;
  display: none;
}
.des h1 {
  border-bottom: 1px solid #BBE1FA;
}